table {
  width: 100%;
  margin-bottom: 24px;
  border-collapse: collapse;

  td, th {
    border: 1px solid black;
    padding: 10px 10px;
  }
  td.active {
    color: var(--primaty-color);
    font-weight: bold;
    background-color: darkred;
  }
  td.selected {
      color: black;
      font-weight: bold;
      background: darkgreen;
  }
  td:hover:not(.disabled) {
    background: lightgray;
    cursor: pointer;
  }
  td {
    text-align: center;
    transition: all .2s;

    &.disabled {
      opacity: 0.5;
    }
  }
  span {
    font-size: 16px;
    line-height: 110%;
  }
 }
